
.container-fluid {
	padding: 0;
}

.navbar .container-fluid {
	padding: 0 15px;
}

.container {
	padding: 40px 3%;
}

@media (max-width: 450px) {
	
	/* MUST for good vertical scrolling!!*/
	.row {
		margin: 0;
	}

	.container > .row > div {
		padding: 0;
	}
}

/********* Jumbotron *********/

.jumbo {
	background: url("./jumbo.jpg") no-repeat center;
	background-size: cover;
	padding: 0;
}

/* Adjust based on actual picture */
@media (max-width: 599px) {
	.jumbo {
		height: 300px;
	}
} 

@media (min-width: 600px) and (max-width: 889px) {
	.jumbo {
		height: 350px;
	}
} 

@media (min-width: 900px) and (max-width: 1399px) {
	.jumbo {
		height: 470px;
	}
} 

@media (min-width: 1400px) and (max-width: 1999px) {
	.jumbo {
		height: 700px;
	}
} 

@media (min-width: 2000px) {
	.jumbo {
		height: 900px;
	}
}


/********* Right-aligned links *********/

/* All links should be 25px below bottom content in each section*/
/*.arrow-link {
	text-align: right;
}

.link {
	color: #F24738; 
	font-size: 16px;
	font-weight: 900;
	letter-spacing: .5px;
	padding: 20px;
	text-transform: uppercase;
}

.link:hover, .link:active, .link:focus {
	color: #024959;
}

.arrow {
	margin-left: 10px;
}
*/


/********* All section headers, titles and desc *********/

.section-header {
	margin-bottom: 50px;
}

.section-header .section-title {
	color: #1C1708; /* dark black */
	font-size: 29px;
	font-weight: bold;
	margin: 0 0 25px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.section-header .section-title:before {
	background: #c9c8c7; /* grey line */
	bottom: 0;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -70px;
	position: absolute;
	width: 140px;
}

.section-header .section-title:after {
	background: #092140; /* blue dot */
	border: 5px solid #fff;
	border-radius: 20px;
	bottom: -11px;
	content: "";
	height: 24px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 24px;
}

.section-header .section-desc {
	color: #1C1708; /* dark black */
	font-size: 17px;
	padding: 0 3%;
	text-align: center;
}

@media (max-width: 450px) {
	.section-header .section-title {
		font-size: 24px;
	}

	.section-header .section-desc {
		font-size: 15px;
	}
}

@media (min-width: 500px) {
	.section-header .section-desc {
		padding: 0 10%;
	}
}

@media (min-width: 706px) {
	.section-header .section-desc {
		padding: 0 15%;
	}
}

@media (min-width: 992px) {
	.section-header .section-desc {
		padding: 0 20%;
	}
}

@media (min-width: 1200px) {
	.section-header .section-desc {
		padding: 0 25%;
	}
}



/********* About us *********/

.feature {
	margin-bottom: 20px;
}

.feature .pull-left {
	margin-right: 20px;
}

.feature .pull-left > i {
	border-radius: 100%;
	-moz-box-shadow: inset 0 0 0 1px #d7d7d7;
	-webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
	box-shadow: inset 0 0 0 1px #d7d7d7;
	color: #024959; /* green icon */
	font-size: 24px;
	height: 64px;
	line-height: 64px;
	position: relative;
	text-align: center;
	width: 64px;
}

.feature .pull-left > i:after {
	background: #092140; /* blue dot */
	border: 4px solid #fff;
	border-radius: 20px;
	content: "";
	height: 20px;
	margin-top: -10px;
	position: absolute;
	right: -10px;
	top: 50%;
	width: 20px;
}

.feature-title {
	color: #1C1708; /* dark black */
	font-size: 18px;	
}

@media (max-width: 450px) { 
	.feature-title {
		font-size: 16px;
	}
}

.feature-desc {

	padding: 0 0 0 5px;
	text-align: justify;
}



/********* FAQ *********/

/*.faq {
	background-image: -ms-linear-gradient(90deg,#c8c6ce 0,#dddddd 30%,#dddddd 70%,#c8c6ce);
	background-image: -moz-linear-gradient(90deg,#c8c6ce 0,#dddddd 30%,#dddddd 70%,#c8c6ce);
	background-image: -webkit-linear-gradient(90deg,#c8c6ce 0,#dddddd 30%,#dddddd 70%,#c8c6ce);
	background-image: linear-gradient(90deg,#c8c6ce 0,#dddddd 30%,#dddddd 70%,#c8c6ce);
}*/

.step {
	margin-bottom: 25px;
}

.faq .main {
	padding: 0 0 5px;
}

.step-no {
	color: #fff;
	text-align: center;
}

.step-1 .step-no {
	background-color: #092140;
}

.step-2 .step-no {
	background-image: -ms-linear-gradient(90deg,#092140 0,#024959 150%);
	background-image: -moz-linear-gradient(90deg,#092140 0,#024959 150%);
	background-image: -webkit-linear-gradient(90deg,#092140 0,#024959 150%);
	background-image: linear-gradient(90deg,#092140 0,#024959 150%);
}

.step-3 .step-no {
	background-image: -ms-linear-gradient(90deg,#092140 0,#024959 120%);
	background-image: -moz-linear-gradient(90deg,#092140 0,#024959 120%);
	background-image: -webkit-linear-gradient(90deg,#092140 0,#024959 120%);
	background-image: linear-gradient(90deg,#092140 0,#024959 120%);
}

.step-4 .step-no {
	background-image: -ms-linear-gradient(90deg,#092140 0,#024959 100%);
	background-image: -moz-linear-gradient(90deg,#092140 0,#024959 100%);
	background-image: -webkit-linear-gradient(90deg,#092140 0,#024959 100%);
	background-image: linear-gradient(90deg,#092140 0,#024959 100%);
}

.step-5 .step-no {
	background-image: -ms-linear-gradient(90deg,#092140 0,#024959 50%);
	background-image: -moz-linear-gradient(90deg,#092140 0,#024959 50%);
	background-image: -webkit-linear-gradient(90deg,#092140 0,#024959 50%);
	background-image: linear-gradient(90deg,#092140 0,#024959 50%);
}

.step-6 .step-no {
	background-color: #024959;
}

.step-no .material-icons {
	font-size: 40px;
	padding: 5px 0;
}

.step-desc {
	height: 200px; /* adjust if needed after adding actual description */
	margin: 0;
	padding: 8% 3%;
	text-align: justify;	
}

.step-desc .step-title {
	color: #1C1708; /* dark black */
	font-size: 18px;
	text-align: center;	
}

@media (max-width: 450px) { 
	.step-desc .step-title {
		font-size: 17px;
	}
}

.step-pic {
	color: #45494c;
	font-size: 36px;
	text-align: center;	
}



/********* personalities *********/

.personalities .container {
	padding-bottom: 0;
}

.sample-personalities {
	margin-bottom: 40px; 
	padding: 0;
}

.sample-personalities .row {
	margin: 0;
}

.sample-personalities .row div {
	min-height: 250px;
}

.sample-personalities .row iframe {
	width: 100%;
}

.sample-1 {
	background: url("./sample-member-1.jpg") no-repeat center center;
	background-size: cover;
}
.sample-2 {
	background: url("./sample-member-2.jpg") no-repeat center center;
	background-size: cover;
}
.sample-3 {
	background: url("./sample-member-3.jpg") no-repeat center center;
	background-size: cover;
}
.sample-4 {
	background: url("./sample-member-4.jpg") no-repeat center center;
	background-size: cover;
}
.sample-5 {
	background: url("./sample-member-5.jpg") no-repeat center center;
	background-size: cover;
}
.sample-6 {
	background: url("../img/sample-member-6.jpg") no-repeat center center;
	background-size: cover;
}
.sample-7 {
	background: url("../img/sample-member-7.jpg") no-repeat center center;
	background-size: cover;
}
.sample-8 {
	background: url("./sample-member-8.jpg") no-repeat center center;
	background-size: cover;
}
.sample-9 {
	background: url("./sample-member-9.jpg") no-repeat center center;
	background-size: cover;
}
.sample-10 {
	background: url("./sample-member-10.jpg") no-repeat center center;
	background-size: cover;
}
.sample-11 {
	background: url("./sample-member-11.jpg") no-repeat center center;
	background-size: cover;
}
.sample-12 {
	background: url("./sample-member-12.jpg") no-repeat center center;
	background-size: cover;
}

@media (min-width: 2000px) {
	.sample-personalities .row div {
		min-height: 350px;
	}
}

@media (min-width: 3000px) {
	.sample-personalities .row div {
		min-height: 450px;
	}
}


/********* Videos *********/
/*
.videos {
	background-image: -ms-linear-gradient(180deg, #D7D5DD 0%, #EEEEEE 40%, #EEEEEE 70%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(180deg, #D7D5DD 0%, #EEEEEE 40%, #EEEEEE 70%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(180deg, #D7D5DD 0%, #EEEEEE 40%, #EEEEEE 70%, #FFFFFF 100%);
	background-image: linear-gradient(180deg, #D7D5DD 0%, #EEEEEE 40%, #EEEEEE 70%, #FFFFFF 100%);
}

.video {
	margin-bottom: 25px;
}

.videos .section-desc {
	padding: 0;
}

.videos .border {
	padding-bottom: 0;
	background-image: -ms-radial-gradient(circle at center,#fff 0,#fcfcfc 100%);
	background-image: -moz-radial-gradient(circle at center,#fff 0,#fcfcfc 100%);
	background-image: -webkit-radial-gradient(circle at center,#fff 0,#fcfcfc 100%);
	background-image: radial-gradient(circle at center,#fff 0,#fcfcfc 100%);
}

.videos .main {
	padding-top: 0;
}

@media (max-width: 767px) {
	.videos .row .col-sm-6 {
		margin-bottom: 6%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videos .container {
		padding: 7% .5%;
	}
} 


*/
