.container-fluid {
	padding: 0;
}

@media (max-width: 480px) {
	.row {
		margin: 0;
	}

	.container > .row > div {
		padding: 0;
	}
}

.personalities .container {
	padding: 0;
	width: 100%;
}

.personalities .row {
	margin: 0;
}

.personalities .row .col-xs-4 {
	height: 230px;
}


@media (min-width: 768px) {
	.personalities .row.only-on-xs {
		display: none;
	}
}

@media (max-width: 767px) {
	.personalities .row .col-xs-4 {
		height: 180px;
	}

	.personalities .row .col-xs-4.remove-on-xs {
		display: none;
	}
}

@media (max-width: 480px) {
	.personalities .row .col-xs-4 {
		height: 150px;
	}
}

@media (max-width: 360px) {
	.personalities .row .col-xs-4 {
		height: 120px;
	}
}

