body {
	color: #7b8b97;
	font-family: 'PT Sans', sans-serif;
}

.container-fluid {
	padding: 0;
	max-width: 1280px;
}

@media (max-width: 480px) {
	.row {
		margin: 0;
	}

	.container > .row > div {
		padding: 0;
	}
}

.personalities .container {
	padding: 0;
	width: 100%;
}

.personalities .row {
	margin: 0;
}

.personalities .row.top-intro {
	background: #f7f7f7;
	background: -moz-radial-gradient(circle, #fff, #efefef);
	background: -webkit-radial-gradient(circle, #fff, #efefef);
	background: radial-gradient(circle, #fff, #efefef);
	padding: 20px 10px;
}

.personalities .row.top-intro .block {
	text-align: center;
}

.personalities .row.top-intro .block .logo img {
	width: 270px;
	height: 30px;
}

.personalities .row.top-intro .block .summary {
    max-width: 700px;
    margin: 15px auto 0;
    font-size: 18px;
}

.personalities .row .col-xs-4 {
	height: 230px;
}


@media (min-width: 768px) {
	.personalities .row.only-on-xs {
		display: none;
	}
}

@media (max-width: 767px) {
	.personalities .row.top-intro .block .logo img {
		width: 240px;
		height: 27px;
	}

	.personalities .row.top-intro .block .summary {
	    font-size: 16px;
	}

	.personalities .row .col-xs-4 {
		height: 180px;
	}

	.personalities .row .col-xs-4.remove-on-xs {
		display: none;
	}
}

@media (max-width: 480px) {
	.personalities .row.top-intro .block .logo img {
		width: 220px;
		height: 25px;
	}

	.personalities .row.top-intro .block .summary {
	    font-size: 15px;
	}

	.personalities .row .col-xs-4 {
		height: 150px;
	}
}

@media (max-width: 360px) {
	.personalities .row.top-intro .block .logo img {
		width: 200px;
		height: 22px;
	}

	.personalities .row.top-intro .block .summary {
	    font-size: 14px;
	}

	.personalities .row .col-xs-4 {
		height: 120px;
	}
}

.section.container {
	max-width: 700px;
	padding: 0;
}

.section .section-header {
	margin: 70px auto 0;
}

.section .section-header .section-title {
	color: #063752;
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 25px;
	padding-bottom: 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.section .section-header .section-title:before {
	background: #c9c8c7; /* grey line */
	bottom: 0;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -70px;
	position: absolute;
	width: 140px;
}

.section .section-header .section-title:after {
	background: #ff9900;
	border: 5px solid #fff;
	border-radius: 20px;
	bottom: -11px;
	content: "";
	height: 22px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 20px;
}

.section .section-header .section-desc {
	font-size: 16px;
    padding: 0 10px;
    margin: 0 auto;
	text-align: center;
}

.section .section-header .section-desc .fa-hand-o-down {
	position: relative;
    top: 1px;
}

.section .section-end {
	font-size: 16px;
    padding: 0 15px;
    margin: 0 auto;
	text-align: left;
}

.section .section-end p {
	font-weight: bold;
	margin-bottom: 10px;
}

.per .section .section-end a {
	color: #5d8bc7;
	text-decoration: underline;
    font-weight: bold;
    padding: 10px 0;
}

.per .section .section-end ul {
	margin: 10px 0 0;
	list-style-type: square;
	padding-inline-start: 40px;
}

.per .section .section-end ul li {
	margin-bottom: 5px;
	font-size: 15px;
	text-align: left;
}

.per .section .section-end p:first-child {
	margin-bottom: 20px;
}

.mem .section .section-end p:first-child {
	margin-bottom: 40px;	
}

.mem .section .section-end .social {
	text-align: center;
	padding-bottom: 30px;
}

.mem .section .section-end .social a {
	font-size: 15px;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 16px;
}

.mem .section .section-end .social a .fa {
	margin-right: 8px;
}

.mem .section .section-end .social .facebook a {
	color: #fff;
	background-color: #2b4170; /* fallback color */
	background: -moz-linear-gradient(top, #3b5998, #2b4170);
	background: -ms-linear-gradient(top, #3b5998, #2b4170);
	background: -webkit-linear-gradient(top, #3b5998, #2b4170);
	background: linear-gradient(top, #3b5998, #2b4170);
}

.mem .section .section-end .social .instagram a {
	color: #fff;
	background: #d6249f;
	background: -moz-linear-gradient(90deg, #285AEB, #d6249f, #fd5949, #fdf497);
	background: -ms-linear-gradient(90deg, #285AEB, #d6249f, #fd5949, #fdf497);
	background: -webkit-linear-gradient(90deg, #285AEB, #d6249f, #fd5949, #fdf497);
  	background: linear-gradient(90deg, #285AEB, #d6249f, #fd5949, #fdf497);
}


@media (max-width: 767px) {
	.section .section-header .section-title {
		font-size: 30px;
	}

	.section .section-header .section-desc, .section .section-end {
		font-size: 15px;
	}

	.per .section .section-end ul {
		padding-inline-start: 25px;
	}

	.per .section .section-end ul li {
		font-size: 14px;
	}

	.mem .section .section-end p:first-child {
		margin-bottom: 30px;	
	}

	.mem .section .section-end .social {
		text-align: left;
	}

	.mem .section .section-end .social a {
		border-radius: 0 6px 6px 0;
		font-size: 14px;
		display: block;
		width: 50%;
		margin-bottom: 2px;
		padding: 10px 30px 10px 15px;
	}
}

@media (max-width: 480px) {
	.section .section-header .section-title {
		font-size: 28px;
	}

	.section .section-header .section-desc, .section .section-end {
		font-size: 14px;
	}

	.per .section .section-end ul li {
		font-size: 13px;
	}

	.mem .section .section-end .social .col-sm-6 {
		padding: 0
	}

	.mem .section .section-end .social a {
		font-size: 14px;
		width: 70%;
	}
}

@media (max-width: 360px) {
	.section .section-header .section-title {
		font-size: 24px;
	}

	.section .section-header .section-desc, .section .section-end {
		font-size: 13px;
	}

	.per .section .section-end ul li {
		font-size: 12px;
	}

	.mem .section .section-end .social a {
		font-size: 13px;
	}
}


.border.video {
	background: #f7f7f7;
	background: -moz-radial-gradient(circle, #fff, #f7f7f7);
	background: -webkit-radial-gradient(circle, #fff, #f7f7f7);
	background: radial-gradient(circle, #fff, #f7f7f7);
	-moz-box-shadow: 0 0 12px #756f6b;
	-webkit-box-shadow: 0 0 12px #756f6b;
	box-shadow: 0 0 12px #756f6b;
	padding: 5px;
	width: 60%;
    margin: 50px auto;
}

.main {
	background: #fff;
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.border.video {
		width: 70%;
	}
}

@media (max-width: 480px) {
	.border.video {
		width: 80%;
	}
}
